<p-toast key="myKey1"></p-toast>
<div class="row">
    <div class="col-md-12">
        <div class="card demo-icons">
            <div class="card-header">
                <h5 class="card-title">CASING Products</h5>
                <p class="card-category">Handcrafted by our Men from
                    <a href="">SENTINI</a>
                </p>
            </div>
            <nav *ngIf="mainPage && !subPage && !prodPage" aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">CASING</li>
                </ol>
            </nav>
            <nav *ngIf="subPage && !mainPage && !prodPage" aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" (click)="showProdPage(1,'')">CASING</li>
                    <li class="breadcrumb-item active" aria-current="page">Categories</li>
                </ol>
            </nav>
            <nav *ngIf=" prodPage && !mainPage && !subPage" aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">CASING</li>
                    <li class="breadcrumb-item" (click)="showProdPage(2,'')">Categories</li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </nav>


            <div class="row" *ngIf="mainPage" style="justify-content: center;margin: 50px 100px;">
                <div class="card cus-card cardzoom" #btn1 style="width: 15rem;"
                    (click)="toggle(btn1);  showProdPage(2,'');" id="Pipes">
                    <img class="card-img-top" src="assets/img/New category10/Casing pipes main category.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">CASING Pipes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">CASING PIPES SYSTEM FOR BOREWELL</h6>
                    </div>
                </div>

            </div>



            <div *ngIf="subPage && !mainPage && !prodPage">
                <nav *ngIf="cardValue" aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb" style="background-color: #66bce9;">
                        <li *ngIf="cardValue == 'Pipes'" class="breadcrumb-item" style="color: white;">CASING PIPES -HSN
                            CODE :3917<br> CASING PIPES
                            Manufactured as per IS:12818</li>
                    </ol>
                </nav>
                <div class="row" style="justify-content: center;margin: 50px 100px;">
                    <div *ngFor="let item of arr2; let i=index;let product">
                        <div class="card cus-card" style="width: 15rem;">
                            <img class="card-img-top" src="{{item.imgUrl}}" (click)="showProdPage(3,item);">
                            <div class="card-body">
                                <p class="card-title"><b>{{item.itemName}}</b></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="row r-margin" *ngIf="prodPage && !mainPage && !subPage">
                <p-table [value]="prodArr">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Skucode</th>
                            <th>Description</th>
                            <th>Size</th>
                            <th>Std Pkg</th>
                            <th>MRP</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.sku_Code}}</td>
                            <td>{{product.sku_Description}}</td>
                            <td>{{product.size}}</td>
                            <td>{{product.std_Pkg}}</td>
                            <td>{{product.price}}</td>
                            <td>
                                <input [(ngModel)]="product.quantity" name="qty" type="number"
                                    class="form-control col-md-12" id="qty">
                            </td>
                            <td>
                                <button type="button" class="btn  btn-primary btn-round"
                                    (click)="addProductToCart(product,product.quantity, index)">Add
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>