<p-toast key="myKey1"></p-toast>
<div class="row">
    <div class="col-md-12">
        <div class="card demo-icons">
            <div class="card-header">
                <h5 class="card-title">COLUMN Products</h5>
                <p class="card-category">Handcrafted by our Men from
                    <a href="">SENTINI</a>
                </p>
            </div>

            <nav *ngIf="mainPage && !subPage && !prodPage" aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">COLUMN</li>
                </ol>
            </nav>
            <nav *ngIf="subPage && !mainPage && !prodPage" aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" (click)="showProdPage(1,'')">COLUMN</li>
                    <li class="breadcrumb-item active" aria-current="page">Categories</li>
                </ol>
            </nav>
            <nav *ngIf=" prodPage && !mainPage && !subPage" aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">COLUMN</li>
                    <li class="breadcrumb-item" (click)="showProdPage(2,'')">Categories</li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </nav>


            <div class="row" *ngIf="mainPage" style="justify-content: center;margin: 50px 100px;">
                <div class="card cus-card cardzoom" #btn1 style="width: 15rem;"
                    (click)="toggle(btn1);  showProdPage(2,'');" id="Pipes">
                    <img class="card-img-top" src="assets/img/New category10/Column pipes main category.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">COLUMN Pipes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">COLUMN PIPES SYSTEM FOR GROUND WATER</h6>
                    </div>

                </div>
            </div>
            <nav *ngIf="subPage" aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb" style="background-color: #20b14d;">
                    <li class="breadcrumb-item" style="color: white;">COLUMN PIPES -HSN CODE :3917</li>
                </ol>
            </nav>
            <div class="row" *ngIf="subPage && !mainPage && !prodPage"
                style="justify-content: center;margin: 50px 100px;">
                <div *ngFor="let item of arr2; let i=index;let product">
                    <div class="card cus-card" style="width: 15rem;">
                        <img class="card-img-top" src="{{item.imgUrl}}" (click)="showProdPage(3,item);">
                        <div class="card-body">
                            <p class="card-title"><b>{{item.itemName}}</b></p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row r-margin" *ngIf="prodPage && !mainPage && !subPage">
                <!-- <div *ngIf="prodArr != 0">
                    <img src="assets/img/undraw_empty_cart_co35.png">
                </div> -->
                <p-table [value]="prodArr">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>Skucode</th>
                            <th>Description</th>
                            <th>Size</th>
                            <th>Std Pkg</th>
                            <th>MRP</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.sku_Code}}</td>
                            <td>{{product.sku_Description}}</td>
                            <td>{{product.size}}</td>
                            <td>{{product.std_Pkg}}</td>
                            <td>{{product.price}}</td>
                            <td>
                                <input [(ngModel)]="product.quantity" name="qty" type="number"
                                    class="form-control col-md-12" id="qty">
                            </td>
                            <td>
                                <button type="button" class="btn  btn-primary btn-round"
                                    (click)="addProductToCart(product,product.quantity, index)">Add
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>